h1 {
    margin-left: 70px;
    }
    form li {
    list-style: none;
    margin-bottom: 5px;
    }
    
    form ul li label{
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    }
    
    form ul li input, select, span {
    float: left;
    margin-bottom: 10px;
    }
    
    form textarea {
    float: left;
    width: 350px;
    height: 150px;
    }
    
    [type="submit"] {
    clear: left;
    margin: 20px 0 0 230px;
    font-size:18px
    }
    
    p {
    margin-left: 70px;
    font-weight: bold;
    }

    body,html{

        background-image: url("registrationpic.webp");
        height: 100%; 

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      form{
        position: relative;
        top: 200px;
        left: 700px;
      }
      input,select,textarea{
        border-radius: 6px;
        background: aqua;
        height: 22px;
      }
      #rad{
        border:solid;
      }
      #in{
        padding: 50px;
      }
      #h1{
        text-align: center;
      }
    